.landing {
    margin:2%;
}
.sample-list {
    list-style-type:square;
    margin-right: 30px;
}

.sample-list li {
    font-style: italic;
    padding-bottom: 2%;
}

.title{
    font-family: 'Gloria Hallelujah', cursive;
}

@media only screen and (min-width: 800px){

    .landing{
        margin:auto;
    }
}