ul.category {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

ul.category li {
    justify-content: center;
    margin-right: 10px;
    flex: 1;         
    padding: 0% 3%; 
    width: 200px;
    height: 100px;
    background-image: url('../../images/post-it.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.item {
    text-align: center;
    padding-top: 3px;
    width: 100%;
}

ul.category li a {
    display: block;  
    text-align: center;
    text-decoration: none;
    color:inherit;
}

.category input[type=text]{
    width: 50px;
}

.create-category {
    display: inline;
    float:right;
    padding: 0;
    margin: 0;
}

.create-category fieldset {
    border-radius: 5px;
    border:1px solid #006DF0;
}

.create-category input[type=text]::placeholder {
    font-style: italic;
    font-size: 8px;
}

.create-category input[type=text]{
    margin-top: 5px;
    width: 100px;
    margin-right: 5px;
    border-radius: 5px;
    border:1px solid #006DF0;
}

.add {
    background: url("../../images/add.svg") no-repeat top left;
   
}
.active {
    text-shadow: 3px 3px 8px #000000;
}

@media only screen and (min-width: 800px){

    .create-category input[type=text]{
        width: 200px;      
    }
    .create-category input[type=text]::placeholder {
        font-size: 14px;
    }
}
