ul.category {
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow: auto;
    white-space: nowrap;
}

ul.category li {
    flex: 1;
    padding: 5%;
    border: 1px solid black;
    margin: 0 5% 0 0;    
}
