ul.category {
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

ul.category li {
    flex: 1;    
    border: 1px solid black;
    margin: 0 5% 0 0;   
    padding: 5%; 
}


.create-category {
    display: inline;
    float:right;
    padding: 0;
    margin: 0;
}

.create-category input[type=text]{
    width: 100px;
    margin-right: 5px;
}

/*.active {
    background-color: dimgray;
    color: white;
}*/
