.dashboard{
    padding: 2%;
    max-width: 600px;
    margin:auto;
    font-family: 'Indie Flower', cursive;
}

.dashboard input{
    border-radius: 5px;
}

.dashboard button {
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 17px;
    border: none;
    vertical-align: text-top;
    margin-left: 5px;
    color:#fdfcf5;
}

.edit {
    background: url("../../images/pencil.svg") no-repeat top left;
}
.add {
    background: url("../../images/add.svg") no-repeat top left;   
}

.delete {
    background: url("../../images/delete.svg") no-repeat top left;
}
 
.save{
    background: url("../../images/diskette.svg") no-repeat top left;
}

.cancel{
    background: url("../../images/close.svg") no-repeat top left;
}

.edit-white {
    background: url("../../images/pencil-white.svg") no-repeat top left;
}

.delete-white {
    background: url("../../images/delete-white.svg") no-repeat top left;
}
 
.save-white{
    background: url("../../images/diskette-white.svg") no-repeat top left;
}

.cancel-white{
    background: url("../../images/close-white.svg") no-repeat top left;
}

