.list li {
    padding-bottom: 2%;
}

.list {
    list-style: none;
}
.list li {
    padding: 5px;  
}

.list button {
    padding: 5px;
    margin: 5px;
    font-size: 10px;
    border-radius: 50%;
}
