.complete {
    text-decoration:line-through;
    color: dimgray;
}

.todo li {
    padding: 4.2px;
}

.item input{
    border-radius: 5px;
}

.item button {
    margin-left: 5px;
    padding: 0;
    margin: 0;
}