.list-detail {
    font-family: 'Architects Daughter', cursive;
}
.list-detail a {
    text-decoration: none;
    margin-left: 50px;
}

.list-detail h3 {
    float: right;
    margin-right: 40px;
}

.list {
    flex: 1 0 auto;
    min-height: 600px;
    max-width: 500px;
    margin: 50px auto ;
    padding: 33px 0 0 20px;
    background-image: url('/src/images/list-paper.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 3px;
    border: .5px solid #d2eef6;
    box-shadow: 5px 5px rgb(237, 243, 237), 
    5.5px 5.5px #d2eef6, 
    10px 10px rgb(243, 247, 245), 
    10.5px 10.5px #d2eef6, 
    15px 15px rgb(234, 240, 234),
    15.5px 15.5px #d2eef6, 
    20px 20px 8px rgb(97, 95, 95);
}

.list h2{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    text-decoration: underline;
}

ul.todo {
    list-style: none;
    margin: auto;
    max-width: 350px;
}

#addItem::placeholder{
    font-style: italic;
}

.create-item {
    margin-top: 40px;
    margin-bottom: 3px;
    text-align: center;
}
.create-item input {
    border-radius: 5px;

}

.create-item button {
    font-size:20px;

}

.list button {
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 17px;
    border: none;
    vertical-align: text-top;
    margin-left: 5px;
}
