.create-list {
    width: 100%;
   
}

.create-list input[type=text]::placeholder {
    font-style: italic;
    font-size: 11px;
}

.create-list label{
     font-size: 12px;
     margin-left: 5px;
}

select {
    font-style: italic;
    border-radius: 5px;
    border:1px solid #006DF0;
    font-size: 11px;
    padding:1px
}

.create-list fieldset {
    border-radius: 5px;
    border:1px solid #006DF0;
}

.create-list input[type=text]{
    margin-top: 5px;
    width: 75px;
    margin-right: 5px;
    border-radius: 5px;
    border:1px solid #006DF0;
}

@media only screen and (min-width: 800px){

    .create-list input[type=text]{
        width: 200px;      
    }
    .create-list label, select, .create-list input[type=text]::placeholder {
        font-size: 15px;
        padding: 0
    }
}