* {
    box-sizing: border-box;  
}

html, body{    
    height: 100%;
}

body{
    background-color: #fdfcf5;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.app {
    font-family: Garamond;
    min-height: 600px;
}

header {
    font-family: 'Gloria Hallelujah', cursive;
    font-size:20px;
    text-align: center;
    padding: 1px;
    background-color: #fcbf46;
    color:#003049; 
    margin-bottom: 20px;   
}

main {    
    max-width: 600px;
    min-height: 600px;
    margin: 0 auto;
    flex: 1 0 auto;
}

a.nav {
    border-radius: 5px;
    background-color: #e65d5d;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    box-shadow: 5px 5px 8px black;
    cursor: pointer;
}

a.nav:hover {
    background-color: #e43f3f;
}

a.nav:active {
    transform: translateY(4px);
    box-shadow: 1px 1px 8px black;
}

.footer {    
    max-width: 100vw;
    flex-shrink: 0;
    margin-top: auto;
    font-family: 'Gloria Hallelujah', cursive;;
    text-align: center;
    padding: 20px;
    background-color: #fcbf46;
    color:#003049;
}
.footer p {
    flex: 1;
}

.footer div {
    font-size: 11px;
    text-decoration: none;
}

.footer a {
    background-color: inherit;
    color: inherit;
}

.footer a:hover {
    color: #fff;
}